/* Basic styles */
.page {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  color: #212121;
  line-height: 1.2;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
  }
}

.link {
  text-decoration: none;
  color: #212121;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: #2196f3;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Logo */
.logo {
  color: #2196f3;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

.logo-header {
  color: #000000;
}

.logo-footer {
  color: #ffffff;
}

.submit-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  text-align: center;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: transparent;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-weight: 700;
  line-height: 1.9;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover, .submit-btn:focus {
  background-color: #188ce8;
}

.submit-btn--centered {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-filter {
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  text-align: center;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: transparent;
  background-color: #f5f4fa;
  font-weight: 500;
  line-height: 1.6;
  min-width: 73px;
  padding: 6px 22px;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-filter:hover, .btn-filter:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-filter.btn-filter--active {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
}

/* Header section */
.header-section {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header-section .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .nav-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
  }
}

.site-nav__item:not(:first-child) {
  margin-left: 50px;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
}

.site-nav__link::after {
  content: "";
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover::after, .site-nav__link:focus::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.site-nav__link.site-nav__link--active {
  color: #2196f3;
}

.site-nav__link.site-nav__link--active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__item:not(:first-child) {
    margin-left: 50px;
  }
}

.header-contacts__icons {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .header-contacts__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #757575;
  }
  .header-contacts__link:hover, .header-contacts__link:focus {
    color: #2196f3;
    fill: #2196f3;
  }
}

/* Work samples section */
.samples-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.samples-section__btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.samples-section__btns :not(:first-child) {
  margin-left: 8px;
}

.samples-section__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: -webkit-calc(-1 * 30px);
  margin-left: calc(-1 * 30px);
  margin-bottom: -webkit-calc(-1 * 30px);
  margin-bottom: calc(-1 * 30px);
}

.samples-card {
  margin-left: 30px;
  margin-bottom: 30px;
  -webkit-flex-basis: -webkit-calc(100% / 3 - 30px);
      -ms-flex-preferred-size: calc(100% / 3 - 30px);
          flex-basis: calc(100% / 3 - 30px);
  border-bottom: 1px solid #eeeeee;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.samples-card:hover, .samples-card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.samples-card__link:hover,
.samples-card__link:focus {
  color: #212121;
}

.samples-card__thumb {
  display: block;
  position: relative;
  overflow: hidden;
}

.samples-card__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  font-size: 18px;
  line-height: 1.56;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}

.samples-card:hover .samples-card__description,
.samples-card:focus .samples-card__description {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.samples-card__content {
  padding: 20px 24px;
}

.samples-card__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.samples-card__text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

/* Footer section */
.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-container {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .footer-container {
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
}

.footer-contacts .logo {
  display: block;
  margin-bottom: 20px;
}

.address-section {
  height: 81px;
  font-style: normal;
  line-height: 1.7;
}

@media screen and (max-width: 1199px) {
  .address-section {
    margin-bottom: 60px;
  }
}

.address-list {
  display: block;
}

.address-list :not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address-list :not(:last-child) {
    margin-bottom: 9px;
  }
}

.address-list__link {
  padding-top: 9px;
  padding-bottom: 9px;
  color: #ffffff;
}

.address-list__contacts {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .foter-social {
    margin-left: 70px;
  }
}

.footer-title {
  margin-bottom: 20px;
  line-height: 1.2;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-social__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .footer-social__list {
    margin-bottom: 60px;
  }
}

.footer-social__item {
  height: 44px;
  width: 44px;
}

.footer-social__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 50px;
          border-radius: 50px;
  -webkit-transition-property: fill;
  -o-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover, .footer-social__link:focus {
  fill: #ffffff;
  background-color: #2196f3;
  -webkit-border-radius: 50px;
          border-radius: 50px;
}

.footer-social__icon {
  fill: #ffffff;
}

.footer-social__item:not(:first-child) {
  margin-left: 10px;
}

@media screen and (min-width: 1200px) {
  .foter-subscribe {
    margin-left: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .foter-subscribe__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.foter-subscribe__email {
  width: 450px;
  height: 50px;
  padding: 15px 16px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  -webkit-border-radius: 4px;
          border-radius: 4px;
  outline: none;
}

@media screen and (max-width: 1199px) {
  .foter-subscribe__email {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .foter-subscribe__email {
    width: 358px;
    margin-right: 12px;
  }
}

.foter-subscribe__email::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.foter-subscribe__email:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.foter-subscribe__email::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.foter-subscribe__email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.foter-subscribe__icon {
  margin-left: 10px;
  fill: #ffffff;
}
/*# sourceMappingURL=portfolio.css.map */