/* Our team section */

.our-team-section {
  padding-top: 60px;
  padding-bottom: 60px;

  line-height: 1.2;
  text-align: center;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  background-color: $secondary-color;
  line-height: 1.2;
  text-align: center;
}

.our-team-list {
  @media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.our-team-list__img {
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    max-height: 260px;
  }
}

.team-list__item {
  background-color: $main-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  max-height: 622px;
  max-width: 450px;
  padding-bottom: 30px;
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
    max-width: 354px;
    min-height: 536px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    min-height: 428px;
    max-width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.team-list__title {
  margin-bottom: 10px;

  color: $title-text-color;
  font-weight: 500;
}

.team-list__text {
  margin-bottom: 16px;
}

.team-contacts {
  @include flexCentered;
  padding: 0;

  height: 44px;
  min-width: 206px;
}

.team-contacts__item {
  height: 44px;
  width: 44px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}
.team-contacts__link {
  @include flexCentered;
  height: 100%;
  width: 100%;

  border-radius: 50px;
  fill: #afb1b8;
  margin-bottom: 24px;

  @include transition(fill);
  @include transition(background-color);

  &:not(:last-child) {
    margin-left: 10px;
  }

  &:hover,
  &:focus {
    fill: $main-color;
    background-color: $accent-color;
    border-radius: 50px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 30px;
  }
}
